<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
  <title>Мессенджер</title>
</head>
<body>
  <div class="some_text"></div>
  <div class="grow">
    <div class="header_massanger">
        <h5 class="text-center">Massanger</h5>
    </div>
    <h5 class="connectionCount">Online: <span></span></h5>
  </div>
  <div class="all_content">
    <header class="header" style="position: fixed;top: 0; left: 0; width: 100%;">
      <div class="container">
        <div class="row">
          <div class="col-8">
            <a href="/">
              <div class="logotip">
                <img src="images/messenger.png" alt="123">
                <h4 class="logo">Мессенджер</h4>
              </div>
            </a>
          </div>
          <div class="col-1"></div>
          <div class="col-3 user" style="position: relative; z-index: 0;">
            <div class="all_info">
              <a class="account_not_log">
                <p class="pska2"><%= myName %> <img src="images/down_arrow.png" alt="" class="arrow">
                  <div class="reg_and_log" style="position: relative; z-index: 200;">
                    <div class="nick">
                      <p class="text-center">
                        <a href="/profile?login=<%= myName %>" style="text-decoration: none; color: #000;"><%= myName %>
                        </a>
                      </p>
                    </div>
                    <hr>
                    <div class="set_and_help">
                      <p><a href="/users" style="z-index: 101; text-decoration: none; color: #000;">Пользователи</a></p>
                      <p><a href="/logout" style="text-decoration: none; color: #000;">Выйти</a></p>
                    </div>
                  </div>
                </p>
              </a>    
            </div>
          </div>
        </div>
      </div>
    </header>
  </div>

  <h4 class="page">Главная</h4>

  <main>
    <div class="main_content">
      <div class="container">
        <div class="the_massanger">
            
        </div>
      </div>
    </div>
  </main>

  <div class="messages">
    <div class="all_mess">
      <% for(let i = 0; i < count; i++) { %>
        <a class="user_mess" href="/profile?login=<%= row[i].name %>"><%= row[i].name %></a>
        <p class="some_p"><%= row[i].text %></p>
      <% } %>
      <div class="some" style="width: 100px; height: 110px;">
          
      </div>
    </div>
      <form id="mess-form">
        <div class="into_form">
          <input type="text" name="message" id="message" class="mb-4 send_mess" placeholder="Напишите сообщение..." style="font-size: 15px;">
          <button type="submit" class="submit" name="do"><img src="images/icon.png" alt="send_ico" class="send_ico"></button>
        </div>
      </form>
  </div>

  <div class="some_botton"></div>
  <div class="some_botton2"></div>
  
  <script src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="../js/scroll.js"></script>
  <script type="text/javascript" src="../js/main.js"></script>
</body>
</html>