<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= name %></title>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/profile.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="all_content">
    <header class="header" style="position: fixed;top: 0; left: 0; width: 100%;">
        <div class="container">
            <div class="row">
                <div class="col-8">
                    <a href="/">
                        <div class="logotip">
                          <img src="images/messenger.png" alt="123">
                          <h4 class="logo">Мессенджер</h4>
                        </div>
                    </a>
                </div>
                <div class="col-1"></div>
                <div class="col-3 user">
                    <div class="all_info">
                        <a class="account_not_log">
                            <p class="pska2"><%= name %> <img src="images/down_arrow.png" alt="" class="arrow">
                                <div class="reg_and_log">
                            <div class="nick">
                                <p class="text-center"><a href="/profile?login=<%= name %>" style="text-decoration: none; color: #000;"><%= name %></a></p>
                            </div>
                            <hr>
                            <div class="set_and_help">
                                <p>
                                    <a style="text-decoration: none; color: #000;">Настройки аккаунта</a>
                                </p>
                                <p>
                                    <a href="/users" style="z-index: 101; text-decoration: none; color: #000;">Чаты</a>
                                </p>
                                <p>
                                    <a href="/logout" style="text-decoration: none; color: #000;">Выйти</a>
                                </p>
                            </div>
                        </div></p>
                        </a>    
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="container">
            <div class="row">
                <div class="col-2"></div>
                <div class="col-2 with_img">
                    <div class="image">
                        <img src="user_images/<%= row.image %>" alt="" class='user_img'>
                    </div>
                </div>
                <div class="col-7 m">
                    <div class="main">
                        <div class="some_flex">
                            <div>
                                <h1><%= row.name %></h1>
                            </div>
                            
                        </div>
                        <hr>
                        <p><span class="span">Дата рождения: </span></p>
                        <p><span class="span">Город: </span></p>
                    </div>
                    
                </div>
                <div class="col-1"></div>
            </div>
        </div>
    </main>
    <script>
        const load = () => {
            document.querySelector('.account_not_log').addEventListener("click", (e) => {
                e.preventDefault()
                const regLog = document.querySelector('.reg_and_log')

                if (regLog.classList.length === 2) regLog.classList.remove('clicked')
                else regLog.classList.add('clicked')
            })
        }

        window.addEventListener('load', load)
    </script>
</body>
</html>